body {
  background-color: #FFF;
}

h1,h2 {
  color:  red;
}

#test01 {
  color: #00a;
}
#test02 {
  color: yellow;
}

.important {
  color: #a00;
}

td,th {
  border: solid thin;
}

div,h1 {
  color: #00a;
}

.last3 {
  font-weight: bold;
}

.name {
  text-align: center;
}

.ol {
  color: #a00;
}